<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css" media="screen,projection"/>
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
</head>
<body>

<style type="text/css">
/*li { width: 18em; }*/
/*.ext-right {float:right;}*/

main, footer {
  padding-left: 200px;
}
.mobilenavli {
    height: 64px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .mobilenavli {
      height: 0px;
  }
}
</style>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center">Controme HRGW</a>
        </div>

        <ul id="nav-mobile" class="side-nav fixed">
            <li class="mobilenavli" style="background-color: #ee6e73; width: 100%; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);">

            </li>
            {% with request.resolver_match.url_name as url_name %}
            <li style="margin-top: 10px" class="{% if url_name == 'index' %}active{% endif %}">
                <a href="/">Übersicht</a>
            </li>
            <li class="{% if url_name == 'sensors' %}active{% endif %}">
                <a href="/sensors/">Sensoren</a>
            </li>
            <li class="{% if url_name == 'inputs' %}active{% endif %}">
                <a href="/inputs/">Universaleingänge</a>
            </li>
            <li class="{% if url_name == 'dr' %}active{% endif %}">
                <a href="/dr/">Differenzregelungen</a>
            </li>
            <li class="{% if url_name == 'vtr' %}active{% endif %}">
                <a href="/vtr/">Vorlauftemperaturregelungen</a>
            </li>
            <li class="{% if url_name == 'otherouts' %}active{% endif %}">
                <a href="/otherouts/">Andere Ausgänge</a>
            </li>
            <li class="{% if url_name == 'settings' %}active{% endif %}">
                <a href="/settings/">Einstellungen</a>
            </li>
            {% endwith %}
        </ul>
    </nav>
</header>

<main>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
</main>

<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
<script>$(document).ready(function(){
    $(".button-collapse").sideNav();
//    $('.parallax').parallax();
//    $(".dropdown-button").dropdown({
//        hover: false
//    });
  });
</script>
</body>
</html>