{% extends "base.html"%}

{% block title %}Differenzregelung {{ dr.0.values.0.name }}{% endblock %}

{% block content %}

<p/>
<br/>

<script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
<script type="text/javascript">

    var data = {{ data|safe }};
    var labels = {"s3": "S3", "s2": "S2", "s1": "S1"};

    var options = {
        lines: { show: true,
                 lineWidth: 1
        },
        xaxis: { mode: "time",
            timeformat: "%d.%m.<br/>%H:%M",
            timezone: "browser"
        },
        legend: {
            noColumns: 2,
            container: "#legendcontainer"
        },
        series: {
            shadowSize: 0
        }
    };

    function drawLog() {
        var drawdata = [];

        $.each(data, function(k, v) {
                drawdata.push({data: v, label: labels[k]});
        });

        $("#placeholder").css("height", "400px");
        $.plot($("#placeholder"), drawdata, options);

        $("#spinnerbr").empty();
        $.each($("#legendcontainer table td"), function(i, td) {
            if(i % 2 == 0) { // legendcolorbox
                $("#spinnerbr").append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                $("#legend_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
            } else { // legendlabel
                var label = $(this).html();
                $("#legend_" + (i-1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
            }
        });
    }

    $(document).ready(function() {
        drawLog();
    });

    function jq(myid) {
        return myid.replace(/[*]/g, "\\$&")
    }
</script>

<div id="drlog" style="">
    <span class="card-title">Differenzregelung {{ dr.0.values.0.name }}{% if dr.0.values.0.description %}: {{ dr.0.values.0.description }}{% endif %}</span>
    <p/>
    <div style="height: 400px;" id="placeholder"></div>
    <div id="spinnerbr" style="white-space: normal; overflow: auto; text-align: center;"></div>
    <div style="display: none" id="legendcontainer"></div>
</div>

{% endblock %}
