<span class="card-title">
    Differenzregelung {{ vals.name }}{% if vals.description %}: {{ vals.description }}{% endif %}
</span>

<p/>

{% if vals.state.error %}

    <!-- anzeigen, dass fehler? -->

    {% if vals.s1 %}
    S1 <span style="float: right;">{% if vals.state.s1 %}{{ vals.state.s1|floatformat:2 }}°{% else %}-{% endif %}</span><br/>
    {% endif %}
    S2 <span style="float: right;">{% if vals.state.s2 %}{{ vals.state.s2|floatformat:2 }}°{% else %}-{% endif %}</span><br/>
    {% if vals.s3 %}
    S3 <span style="float: right;">{% if vals.state.s3 %}{{ vals.state.s3|floatformat:2 }}°{% else %}-{% endif %}</span><br/>
    {% endif %}
    Position: <span style="float: right;">{{ vals.state.position }}</span><br/>

{% else %}

    {% if vals.s1 %}
    S1 <span style="float: right;">{{ vals.state.s1|floatformat:2 }}°</span><br/>
    {% endif %}
    S2 <span style="float: right;">{{ vals.state.s2|floatformat:2 }}°</span><br/>
    {% if vals.s3 %}
    S3 <span style="float: right;">{{ vals.state.s3|floatformat:2 }}°</span><br/>
    {% endif %}
    Ausgang <span style="float: right; margin-right: 0.5ch;">{{ vals.state.position }}</span><br/>
    <div style="font-size: 0.8em; margin-bottom: 0.5em;">
    {% if vals.s1 %}({{ vals.state.s1|floatformat:2 }} > ({{ vals.state.s2|floatformat:2 }} + {{ vals.diff_s2 }})) & ({{ vals.max_s1 }} > {{ vals.state.s1|floatformat:2 }} > {{ vals.min_s1 }}) & {% endif %}
    ({{ vals.state.s2|floatformat:2 }} < {{ vals.max_s2 }})
    {% if vals.s3 %} & ({{ vals.state.s3|floatformat:2 }} < {{ vals.max_s3 }}){% endif %}
    = <span style="float:right; margin-right: 0.7ch;">{{ vals.state.position }}{% if vals.invertout %} (i){% endif %}</span><br/>
    {% if vals.state.applied_hysteresis %}Hysterese aktiv, Ausgang tendiert zu {% if vals.state.position %}0{% else %}1{% endif %}<br/>{% endif %}
    {% if vals.state.applied_ausvzg %}Ausschaltverzögerung aktiv<br/>{% endif %}
    {% if vals.state.applied_einvzg %}Einschaltverzögerung aktiv<br/>{% endif %}
    </div>
    Letzte Aktualisierung <span style="float: right;">{{ vals.state.last_update }}</span><br/>

{% endif %}

<div class="card-action">
    <a href="/dr/{{vals.cc_id}}/">Details</a>
</div>