{% extends "base.html"%}

{% block title %}Übersicht{% endblock %}

{% block content %}

    <p/>
    <br/>

    <div class="row">
        {% for reg in regs %}
        {% if regs|length < 3 %}
        <div class="col s6">
        {% else %}
        {% if forloop.counter0 == 0 or forloop.counter0 == halflen %}
        <div class="col m6">
        {% endif %}
        {% endif %}

            <div class="card white">
                <div class="card-content black-text" style="padding-bottom: 0px;">

                {% with vals=reg.values.0 %}

                {% if 'mixer_id' in reg.values.0 %}
                    {% include "mr_snippet.html" %}
                {% else %}
                    {% include "dr_snippet.html" %}
                {% endif %}

                {% endwith %}

                </div>
            </div>
        {% if forloop.counter0 == halflen|add:"-1" or regs|length < 3 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}