{% extends "base.html" %}

{% block title %}Eingänge{% endblock %}

{% block content %}

<p/>
<br/>

<table class="striped">
    <thead>
        <tr>
            <td>Eingang</td>
            <td style="text-align: right">Wert</td>       
        </tr>
    </thead>
    <tbody>
    {% for input in inputs %}        
    {% for name, values in input.items %}
        <tr>
            <td>{{ name }}</td>
            <td style="text-align: right">{% if values.value != None %}{{ values.value}}{% else %}-{% endif %}</td>
           
        </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}