<span class="card-title">
    Vorlaufregelung {{ vals.name }}{% if vals.description %}: {{ vals.description}}{% endif %}
</span>

<p/>

{% if vals.state.error %}

    Fehler! Regelung wird auf 10% gefahren.

{% else %}

    {% if "inflow_cold" in vals.state %}
    Eingang kalt <span style="float: right;">{% if vals.state.inflow_cold == None %}- {% else %}{{ vals.state.inflow_cold|floatformat:2 }}{% endif %}°</span><br/>
    {% endif %}
    {% if "inflow_hot" in vals.state %}
    Eingang warm <span style="float: right;">{% if vals.state.inflow_hot == None %}- {% else %}{{ vals.state.inflow_hot|floatformat:2 }}{% endif %}°</span><br/>
    {% endif %}
    {% if "outflow" in vals.state %}
    Ausgang <span style="float: right;">{% if vals.state.outflow == None %}- {% else %}{{ vals.state.outflow|floatformat:2 }}{% endif %}°</span><br/>
    {% endif %}
    Ziel <span style="float: right;">{{ vals.state.setpoint|floatformat:2 }}°</span><br/>
    Position <span style="float: right;">{{ vals.state.position|floatformat:2 }}%</span><br/>
    Letzte Aktualisierung <span style="float: right;">{{ vals.state.last_update }}</span>

{% endif %}

<div class="card-action">
    <a href="/vtr/{{vals.mixer_id}}/">Details</a>
</div>