{% extends "base.html"%}

{% block title %}Andere Ausgänge{% endblock %}

{% block content %}

<p/>
<br/>

<table class="striped">
    <thead>
        <tr>
            <td>Ausgang Nr.</td>
            <td style="text-align: center">Wert</td>
            <td style="">Modul</td>
        </tr>
    </thead>
    <tbody>
    {% for out, val in data %}
        <tr>
            <td>{{ out }}</td>
            <td style="text-align: center">{{ val.0 }}</td>
            <td style="">{{ val.1 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
