{% extends "base.html"%}

{% block title %}Sensoren{% endblock %}

{% block content %}

<p/>
<br/>

<table class="striped">
    <thead>
        <tr>
            <td>Sensor</td>
            <td style="text-align: right">Wert</td>
            <td style="text-align: center;">Linie</td>
        </tr>
    </thead>
    <tbody>
    {% for sensor in sensors %}
    {% for name, values in sensor.items %}
        <tr>
            <td>{{ name }}</td>
            <td style="text-align: right">{% if values.value != None %}{{ values.value|floatformat:2 }}°{% else %}-{% endif %}</td>
            <td style="text-align: center;">{{ values.linie }}</td>
        </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}