{% extends "base.html" %}

{% block title %}Einstellungen{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#updateli_spinner").show();
        var ld2 = new loader("updateli_spinner");
        $("#updateli_button").hide();
        $.ajax({
            url: "?verdate",
            success: function (response) {
                $("#updateli_spinner").hide();
                $("#updateli_button").show();
            },
            error: function(xhr, options, error) {
                $("#update").html("(neueste Version)");
                $("#updateli_button").show();
                $("#updateli_spinner").hide();
            }
        })
    });

    function loader(el, delay) {
        if (typeof el === "string")
            el = document.getElementById(el);
        if (!el)
            return;
        delay = delay || 100;
        var chars = "|/-\\".split("");
        var i = 0;
        var timer = setInterval(function(){
            el.innerHTML = chars[ i++ % chars.length ];
        }, delay);
        // public method to stop the animation
        this.stop = function() {
            clearInterval(timer);
        }
    }

    function doUpdate() {
        var ld1 = new loader("update");
        $.ajax({
            url: "?update"
        }).complete("error", function() {
            window.location.reload();
        });
    }
</script>
<style type="text/css">
li { width: 18em; }
.ext-right {float:right;}
</style>

<p/>
<br/>

<ul>
    <li id="updateli_spinner">

    </li>
    <li id="updateli_button" style="width: 20em">
        Softwarestand: <span id="version">{{version}}</span> <span id="update"><a href="#" onclick="doUpdate();">aktualisieren</a></span>
    </li>
    {% if failed_update %}
    <li style="color: red;">
        Update fehlgeschlagen, Download momentan nicht möglich. Bitte versuchen Sie es später erneut.
    </li>
    {% endif %}
    {% if uptime != None %}
    <li>
        System läuft seit: {{ uptime }}
    </li>
    {% endif %}
    <p/>
    <li>
        <form id="rform" name="rform" method="post">
            <input type="text" name="code" placeholder="Mac-Adresse"/><input type="submit" value="Neustarten" id="reboot" name="reboot"/>
        </form>
    </li>
    <p/>
    <li>
        <form id="sform" name="sform" method="post">
            <input type="text" name="code" placeholder="Mac-Adresse"/><input type="submit" value="Herunterfahren" id="shutdown" name="shutdown" />
        </form>
    </li>
    <p/>
    <li>
        <form id="resetform" name="resetform" method="post">
            <input type="text" name="code" placeholder="Mac-Adresse"/><input type="submit" value="Zur&uuml;cksetzen" id="reset" name="reset" />
        </form>
    </li>
    <li>
        <form id="refform" name="refform" method="post">
            <input type="text" name="code" placeholder="Mac-Adresse"/><input type="submit" value="Referenzfahrt" id="reffahrt" name="reffahrt" />
        </form>
    </li>
    {% if error %}
    <li style="color: red;">
        {{ error }}
    </li>
    {% endif %}
</ul>

{% endblock %}
